<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="true">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/chisiamo" routerLinkActive="true">Chi siamo</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/progetti" routerLinkActive="true">Progetti</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contatti" routerLinkActive="true">Contatti</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>