<div class="container">
    <h1>Sono Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat error quo a quis, est assumenda explicabo similique perferendis et enim modi nam expedita corporis. Alias doloribus repellat laudantium ut non.</p>
</div>